<template>
  <div class="footer">
    <div class="container">
      <o-field :label="date" grouped>
        <o-button v-if="isPlaying" size="medium" icon-left="fa-solid fa-pause" @click="pause"></o-button>
        <o-button v-else size="medium" icon-left="fa-solid fa-play" @click="play"></o-button>
        <o-slider v-model="parameters.timelapse.current" 
          :min="parameters.timelapse.min" 
          :max="parameters.timelapse.max" 
          :step="86400000"
          :customFormatter="(val:number) => new Date(val).toLocaleDateString()"> 
          <template v-for="val in [
                new Date('1960-01-01').getTime(),
                new Date('1980-01-01').getTime(),
                new Date('2000-01-01').getTime(),
                new Date('2020-01-01').getTime()
              ]" :key="val">
              <o-slider-tick :value="val" >{{ new Date(val).getFullYear() }}</o-slider-tick>
          </template>
        </o-slider>
      </o-field>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue'
import { useParametersStore } from '../stores/parameters'

const parameters = useParametersStore()
const isPlaying = ref(false)
const step = () => {
  const date = new Date(parameters.timelapse.current)
  const nextDate = date.setFullYear(date.getFullYear() + 1)
  return nextDate 
}
let timer:number = 0
const date = computed(()=>{
  return `Date: ${new Date(parameters.timelapse.current).toLocaleDateString().slice(0,10)}`
})
const play = () => {
  isPlaying.value = true
  timer = window.setInterval(() =>{
    if (step() <= parameters.timelapse.max){
    parameters.timelapse.current = step()
    } else {
      parameters.timelapse.current = parameters.timelapse.min
    }
  }, 400)
}
const pause = () => {
  isPlaying.value = false
  if(timer){
    clearInterval(timer)
  }
}
</script>