<template>
  <div class='graph'>
    <Line 
    :chart-data="chartData"
    :height=250
    :chart-options="chartOptions"
    />
  </div>
</template>

<script setup lang="ts">
  import { onMounted, computed, watch } from 'vue'
  import { useParametersStore } from '../stores/parameters'
  import { useSurfacesStore } from '../stores/surfaces'
  import { Line } from 'vue-chartjs'
  import { Chart as ChartJS, Title, Tooltip, Legend, PointElement, LineElement, CategoryScale, LinearScale } from 'chart.js'

  const surfaces =  useSurfacesStore()
  const parameters = useParametersStore()
  const chartOptions = {
    responsive: true,
    spanGaps: true,
    animation:{
      duration:0
    },
    parsing: {
      xAxisKey: 'annee',
      yAxisKey: 'surface_ha'
    },
    plugins:{
      legend:{
        display:false,
      },
      tooltip: {
        callbacks: {
          label: function(context:any) {
            let label = context.dataset.label || '';
            if (label) {
                label += ': ';
            }
            if (context.parsed.y !== null) {
                label += context.parsed.y +' ha';
            }
            return label;
          }
        }
      }
    },
  }

  ChartJS.register(
    Title,
    Tooltip,
    Legend,
    LineElement,
    LinearScale,
    PointElement,
    CategoryScale
  )
  const filterData = computed(() => {
    if(parameters.selectedDep){
      return surfaces.data.filter((d:any) => d.dep == parameters.selectedDep && parseInt(d.annee) <= new Date(parameters.timelapse.current).getFullYear())
    } else {
      return surfaces.data.filter((d:any) => d.dep === 'AURA' && parseInt(d.annee) <= new Date(parameters.timelapse.current).getFullYear())
    }
  })

  const sumSurf = computed(() =>{  
    const data = filterData.value.filter((d:any)=> ['PNR','N2000','_AP-tot','_APF-tot'].includes(d.type_site) && parseInt(d.annee) === new Date(parameters.timelapse.current).getFullYear())
    return data.reduce((a:number, b:any) => {
      return a + b.surface_ha
    }, 0)
  })

  const chartData= computed(() => {
    const chart:any = {
      labels:[],
      datasets:[]
    }
    const labels = [... new Set(filterData.value.map((d:any) => d.annee))].sort()
    chart.labels = labels
    chart.datasets.push({
      label:'PNR',
      data:getDataset('PNR'),
      borderColor:'#FEE294',
      tension: 0.1,
      stepped: true,
      hidden:!parameters.showArea.pnr
    })
    chart.datasets.push({
      label:'Natura 2000',
      data:getDataset('N2000'),
      borderColor:'#4F98D3',
      tension: 0.1,
      stepped: true,
      hidden:!parameters.showArea.n2000
    })
    chart.datasets.push({
      label:'Aires protégées',
      data:getDataset('_AP-tot'),
      borderColor:'#66c2a5',
      tension: 0.1,
      stepped: true,
      hidden:!parameters.showArea.prot_default
    })
    chart.datasets.push({
      label:'Aires protégées sous protection forte',
      data:getDataset('_APF-tot'),
      borderColor:'#8031A7',
      tension: 0.1,
      stepped: true,
      hidden:!parameters.showArea.prot_forte
    })
    
    return chart
  })

  onMounted( async () => {
    await surfaces.getData()
  })

  watch( () => sumSurf.value,() => {
    parameters.sumSurface = sumSurf.value
  })

    function getDataset(name:string){
    let temp = filterData.value.filter((d:any) => d.type_site === name)
      .sort((a, b)=> { 
        if (parseInt(a.annee) > parseInt(b.annee)){
          return 1
        } else {
          return 0
        }
      })
    if(temp[0] !== undefined){ 
      const lastData = {
        annee: temp[temp.length - 1].annee,
        dep: temp[temp.length - 1].dep,
        type_site: temp[temp.length - 1].type_site,
        surface_ha: temp[temp.length - 1].surface_ha,
        percent_dep:temp[temp.length - 1].percent_dep
      }
      if(parseInt(lastData.annee) < new Date(parameters.timelapse.current).getFullYear()){
        lastData.annee = (new Date(parameters.timelapse.current).getFullYear()).toString()
        temp.push(lastData)
      }
      return temp
    }
  }
</script>