<template>
<div class='legend'>
  <h1 class="title is-size-4">{{titre}}</h1>
  <div class="item" v-for="classe in classes" :key="classe.name">
    <span class="legend-class" :style="'height:'+classe.width+'px;background-color:rgb('+classe.color[0]+','+classe.color[1]+','+classe.color[2]+')'"></span>
    <span class="legend-class-name">{{classe.name}}</span>
  </div>
  <div><b>Date : </b>{{date}}</div>
  <div><b>Surfaces protégées : </b>{{parameters.sumSurface.toLocaleString()}} km²</div>
</div>
</template>

<script setup lang="ts">
import { computed } from 'vue'
import { useParametersStore } from '../stores/parameters'

const parameters = useParametersStore()
const titre = computed(()=>{
  const dep = parameters.depList.find(d => d.dep == parameters.selectedDep)
  if (dep){
    return `Evolution des surfaces protégées (${dep.l_dep})`
  } else {
    return `Evolution des surfaces protégées (Auvergne Rhône-Alpes)`
  }
  
})
  const date = computed(()=>{
  return new Date(parameters.timelapse.current).toLocaleDateString().slice(0,10)
})
const classes = [
  {color:[254, 226, 148],name:'PNR',width:10},
  {color:[102, 194, 165],name:'Aires protégées',width:10},
  {color:[128, 49, 167],name:'Aires protégées sous protection forte',width:10},
  {color:[79, 152, 211],name:'Zones Natura 2000',width:10},
]
</script>