<template>
  <div class="column">
    <div id="map"></div>
  </div>
</template>

<script setup lang="ts">
import { Map, NavigationControl, AttributionControl, Popup } from 'maplibre-gl'
import bbox from '@turf/bbox'
import { featureCollection } from '@turf/helpers'
import { useParametersStore } from '../stores/parameters'
import { onMounted, watch, ref } from 'vue'

  let map:Map
  const data = ref({})
  const dep = ref([])
  const parameters = useParametersStore()

  async function parseFile(path:string){
    const response = await fetch(path)
    const text = await response.text()
    const parseData = JSON.parse(text)
    return parseData
  }

  async function getData(){
    const geom = await parseFile(`${import.meta.env.VITE_PLUGIN_PATH}/data/protect_zones.geojson`)
    const geom2 = await parseFile(`${import.meta.env.VITE_PLUGIN_PATH}/data/n2000.geojson`)
    const depAura = await parseFile(`${import.meta.env.VITE_PLUGIN_PATH}/data/dep_aura.geojson`)
    const final = [...geom.features,...geom2.features]
    //ajout d'une properties au format epoch 
    final.map( (e:any) => {
      e.properties.date_e = new Date(e.properties.date_crea).getTime()
      if(e.properties.date_modif !== null){
        e.properties.fin_e = new Date(e.properties.date_modif).getTime()
      } else {
        e.properties.fin_e = new Date().getTime()
      }
      return e
    })
    data.value = featureCollection(final)
    dep.value = depAura.features
  }

  onMounted(async() => {
    await getData()
    createMap()
  })
  
  watch( () => parameters.showArea.pnr,() => {
    map.setLayoutProperty('pnrLayer','visibility', parameters.showArea.pnr ? 'visible' : 'none')
  })
    
  watch( () => parameters.showArea.prot_default,() => {
    map.setLayoutProperty('protLayer','visibility', parameters.showArea.prot_default ? 'visible' : 'none')
  })

  watch( () => parameters.showArea.prot_forte,() => {
    map.setLayoutProperty('protForteLayer','visibility', parameters.showArea.prot_forte ? 'visible' : 'none')
  })
  watch( () => parameters.showArea.n2000,() => {
    map.setLayoutProperty('n2Layer','visibility', parameters.showArea.n2000 ? 'visible' : 'none')
  })

  watch( () => parameters.timelapse.current,() => {
    map.setFilter('protLayer',filters('protLayer'))
    map.setFilter('protForteLayer',filters('protForteLayer'))
    map.setFilter('pnrLayer',filters('pnrLayer'))
    map.setFilter('n2Layer',filters('n2Layer'))
  })

  watch(() => parameters.selectedDep, (value)=> {
    if(value){
      const zoom = dep.value.find((d:any)=> parseInt(d.properties.dep) == value)
      if(zoom){ 
        map.fitBounds(getBbox(zoom), {padding: 20})
      }
    }
    else {
      map.fitBounds(getBbox(data.value), {padding: 20})
    } 
  })

  function filters(layer:string){
    let filters:any[] = [
      'all',
      ["<=", 'date_e', parameters.timelapse.current],
      [">", 'fin_e', parameters.timelapse.current]
    ]
    if(layer == 'protForteLayer'){
      filters.push(['==', 'prot_forte', true])
    } else if(layer == 'protLayer'){
      filters.push(['==', 'prot_forte', false])
      filters.push(['!in', 'type_site', 'PNR','N2000'])
    } else if (layer == 'pnrLayer'){
      filters.push(['==', 'type_site', 'PNR'])
    }
    else if (layer == 'n2Layer'){
      filters.push(['in', 'type_site', 'N2000'])
    }
    return filters
  }

  function createMap() {
    map =  new Map({
      container: 'map',
      style: 'https://openmaptiles.geo.data.gouv.fr/styles/osm-bright/style.json',
      center: [4.5, 45.6],
      zoom: 7,
      attributionControl: false,
    })
    map.scrollZoom.disable()
    map.addControl(new NavigationControl({}), 'top-right')
    map.addControl(new AttributionControl({
        compact: true
    }))
    map.on('style.load', () => {
      addLayers()
      popup()
    })
    map.on('load',() => {
      map.fitBounds(getBbox(data.value), {padding: 20})
    })
  }

  function addLayers() {
    map.addSource('dep', {
      type: 'geojson',
      data: featureCollection(dep.value)
    })

    map.addSource('zones', {
      type: 'geojson',
      data: data.value
    })

    map.addLayer({
      id: 'depLayer',
      type: 'line',
      source: 'dep',
      paint: {
        'line-color':'#999',
        'line-opacity':0.8,
        'line-width':3
      },
    })
  
    map.addLayer({
      id: 'pnrLayer',
      type: 'fill',
      source: 'zones',
      paint: {
        'fill-color':'#FEE294',
        'fill-opacity':0.6,
      },
      filter:['all',
        ['<=', 'date_e', parameters.timelapse.current],
        ['>', 'fin_e', parameters.timelapse.current],
        [ '==', 'type_site', 'PNR'],
      ],
    })
    map.addLayer({
      id: 'protLayer',
      type: 'fill',
      source: 'zones',
      paint: {
        'fill-color':'#66c2a5',
        'fill-opacity':0.6,
      },
      filter:['all',
        ['<=', 'date_e', parameters.timelapse.current],
        ['>', 'fin_e', parameters.timelapse.current],
        ['==', 'prot_forte', false],
        ['!in', 'type_site', 'PNR','N2000']
      ],
    })
   
    map.addLayer({
      id: 'n2Layer',
      type: 'fill',
      source: 'zones',
      paint: {
        'fill-color':'#4F98D3',
        'fill-opacity':0.6,
      },
      filter:['all',
        ['<=', 'date_e', parameters.timelapse.current],
        ['>=', 'fin_e', parameters.timelapse.current],
        ['in', 'type_site', 'N2000']
      ],
    })

    map.addLayer({
      id: 'protForteLayer',
      type: 'fill',
      source: 'zones',
      paint: {
        'fill-color':'#8031A7',
        'fill-opacity':0.6,
      },
      filter:['all',
        ['<=', 'date_e', parameters.timelapse.current],
        ['>', 'fin_e', parameters.timelapse.current],
        [ '==', 'prot_forte', true],
      ],
    })
    
  }

  function popup(){
    let popup = new Popup({
      closeButton: false,
      closeOnClick: false
    })
    map.on('mousemove','pnrLayer', e => {
      let features = map.queryRenderedFeatures(e.point)
      map.getCanvas().style.cursor = 'pointer'
      if(features[0].properties){
        const description = `
        <div class="popup">
          <p><b>id : </b>${features[0].properties.id_site}</p>
          <p><b>type : </b>${features[0].properties.type_site}</p>
          <p><b>nom : </b>${features[0].properties.nom_site}</p>
          <p><b>date de création : </b>${new Date(features[0].properties.date_crea).toLocaleDateString('fr-FR')}</p>
          ${features[0].properties.date_modif ? `<p><b>date de modification : </b>${new Date(features[0].properties.date_modif).toLocaleDateString('fr-FR')}</p>` : `` }
          <p><b>protection forte : </b>${features[0].properties.prot_forte ? 'oui' : 'non'}</p>
        </div>`
        popup.setLngLat(e.lngLat)
        .setHTML(description)
        .addTo(map)
      }
    })
    map.on('mouseleave', 'pnrLayer', () => {
      map.getCanvas().style.cursor = ''
      popup.remove()
    })
    map.on('mousemove','protLayer', e => {
      let features = map.queryRenderedFeatures(e.point)
      map.getCanvas().style.cursor = 'pointer'
      if(features[0].properties){
        const description = `
        <div class="popup">
          <p><b>id : </b>${features[0].properties.id_site}</p>
          <p><b>type : </b>${features[0].properties.type_site}</p>
          <p><b>nom : </b>${features[0].properties.nom_site}</p>
          <p><b>date de création : </b>${new Date(features[0].properties.date_crea).toLocaleDateString('fr-FR')}</p>
          ${features[0].properties.date_modif ? `<p><b>date de modification : </b>${new Date(features[0].properties.date_modif).toLocaleDateString('fr-FR')}</p>` : `` }
          <p><b>protection forte : </b>${features[0].properties.prot_forte ? 'oui' : 'non'}</p>
        </div>`
        popup.setLngLat(e.lngLat)
        .setHTML(description)
        .addTo(map)
      }
    })
    map.on('mouseleave', 'protLayer', () => {
      map.getCanvas().style.cursor = ''
      popup.remove()
    })
    map.on('mousemove','protForteLayer', e => {
      let features = map.queryRenderedFeatures(e.point)
      map.getCanvas().style.cursor = 'pointer'
      if(features[0].properties){
        const description = `
        <div class="popup">
          <p><b>id : </b>${features[0].properties.id_site}</p>
          <p><b>type : </b>${features[0].properties.type_site}</p>
          <p><b>nom : </b>${features[0].properties.nom_site}</p>
          <p><b>date de création : </b>${new Date(features[0].properties.date_crea).toLocaleDateString('fr-FR')}</p>
          ${features[0].properties.date_modif ? `<p><b>date de modification : </b>${new Date(features[0].properties.date_modif).toLocaleDateString('fr-FR')}</p>` : `` }
          <p><b>protection forte : </b>${features[0].properties.prot_forte ? 'oui' : 'non'}</p>
        </div>`
        popup.setLngLat(e.lngLat)
        .setHTML(description)
        .addTo(map)
      }
    })
    map.on('mouseleave', 'protForteLayer', () => {
      map.getCanvas().style.cursor = ''
      popup.remove()
    })
    map.on('mousemove','n2Layer', e => {
      let features = map.queryRenderedFeatures(e.point)
      map.getCanvas().style.cursor = 'pointer'
      if(features[0].properties){
        const description = `
        <div class="popup">
          <p><b>id : </b>${features[0].properties.id_site}</p>
          <p><b>type : </b>${features[0].properties.type_site}</p>
          <p><b>nom : </b>${features[0].properties.nom_site}</p>
          <p><b>date de création : </b>${new Date(features[0].properties.date_crea).toLocaleDateString('fr-FR')}</p>
          ${features[0].properties.date_modif ? `<p><b>date de modification : </b>${new Date(features[0].properties.date_modif).toLocaleDateString('fr-FR')}</p>` : `` }
          <p><b>protection forte : </b>${features[0].properties.prot_forte ? 'oui' : 'non'}</p>
        </div>`
        popup.setLngLat(e.lngLat)
        .setHTML(description)
        .addTo(map)
      }
    })
    map.on('mouseleave', 'n2Layer', () => {
      map.getCanvas().style.cursor = ''
      popup.remove()
    })
  }

  function getBbox(data:any){
    const bounds = bbox(data)
    const coords:[number,number,number,number] = [bounds[0],bounds[1],bounds[2],bounds[3]]
    return coords
  }

</script>
