<template>
  <div class="sidebar">
      <h1 class="title is-size-4">{{titre}}</h1>
      <div class="controls">
        <o-field label="Filtres">
          <o-switch v-model="parameters.showArea.pnr" variant="warning">
            Parcs naturels régionaux
          </o-switch>
        </o-field>
        <o-field>
          <o-switch v-model="parameters.showArea.prot_default" variant="success">
            Aires protégées
          </o-switch>
        </o-field>
        <o-field>
          <o-switch v-model="parameters.showArea.prot_forte">
            Aires protégées sous protection forte
          </o-switch>
        </o-field>
        <o-field>
          <o-switch v-model="parameters.showArea.n2000" variant="info">
            Zones Natura 2000
          </o-switch>
        </o-field>
        <o-field label="Sélectionner un territoire">
          <o-select v-model="parameters.selectedDep">
            <optgroup label="Région">
              <option :value="null">Auvergne-Rhône-Alpes</option>
            </optgroup>
            <optgroup label="Départements">
              <template v-for="option in parameters.depList" :key="option.dep">
                <option :value="option.dep">{{option.l_dep}}</option>
              </template>
            </optgroup>
          </o-select>
        </o-field>
        <o-field>
           <b><p class="is-size-5">{{surface}}</p></b>
        </o-field>
        <Graph />
        <o-field>
          <o-switch v-model="parameters.showTable">
            Afficher le détail
          </o-switch>
        </o-field>
        <Table />
        <p>Avertissement : faute d'historique suffisant pour les sites ayant connu plusieurs versions de zonage, le périmètre affiché est le plus récent connu, rapporté à la date de création administrative du site.</p>
      </div>
  </div>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue'
import { useParametersStore } from '../stores/parameters'
import Graph from './Graph.vue'
import Table from './Table.vue'

const parameters = useParametersStore()
const isPlaying = ref(false)
const titre = computed(()=>{
  const dep = parameters.depList.find(d => d.dep == parameters.selectedDep)
  if (dep){
    return `Evolution des surfaces protégées (${dep.l_dep})`
  } else {
    return `Evolution des surfaces protégées (Auvergne Rhône-Alpes)`
  }
})
const date = computed(()=>{
  return `Date: ${new Date(parameters.timelapse.current).toLocaleDateString().slice(0,10)}`
})
const surface = computed(()=>{
  return `Surfaces protégées: ${Math.round(parameters.sumSurface).toLocaleString()} km²`
})

const step = () => {
  const date = new Date(parameters.timelapse.current)
  const nextDate = date.setFullYear(date.getFullYear() + 1)
  return nextDate 
}

let timer:number = 0

const play = () => {
  isPlaying.value = true
  timer = window.setInterval(() =>{
    if (step() <= parameters.timelapse.max){
    parameters.timelapse.current = step()
    } else {
      parameters.timelapse.current = parameters.timelapse.min
    }
  }, 400)
  
}

const pause = () => {
  isPlaying.value = false
  if(timer){
    clearInterval(timer)
  }
}
</script>
