<template>
  <div class="tableau">
    <div class="container">
      <o-table v-if="parameters.showTable" :data="filterData" :mobileCards="false">
        <o-table-column field="annee" label="Année" sortable numeric v-slot:default="props">
          {{ props.row.annee }}
        </o-table-column>
        <o-table-column field="surface_ha" label="Surfaces cumulées" sortable numeric v-slot:default="props">
          {{ Math.round(props.row.surface_ha).toLocaleString() }} km²
        </o-table-column>
        <o-table-column field="type_site" label="Type de site" sortable v-slot:default="props">
          {{ labelType(props.row.type_site)}}
        </o-table-column>
        <o-table-column field="percent_dep" label="Couverture du territoire" sortable v-slot:default="props">
          {{ (props.row.percent_dep).toLocaleString()}} %
        </o-table-column>
      </o-table>
    </div>
  </div>
</template>
<script setup lang="ts">
import { onMounted, computed } from 'vue'
import { useParametersStore } from '../stores/parameters'
import { useSurfacesStore } from '../stores/surfaces'
const parameters = useParametersStore()
const surfaces =  useSurfacesStore()
const filterData = computed(() => {
  let data = []
  if(parameters.selectedDep){
    data =  surfaces.data.filter((d:any) => d.dep == parameters.selectedDep && parseInt(d.annee) == new Date(parameters.timelapse.current).getFullYear())
  } else {
    data =  surfaces.data.filter((d:any) => d.dep === 'AURA' && parseInt(d.annee) == new Date(parameters.timelapse.current).getFullYear())
  }
  return data.sort((a,b)=>{
    if(orderType(a.type_site) > orderType(b.type_site)){
      return 1
    }else {
      return 0
    }
  })
})

onMounted( async () => {
  await surfaces.getData()
})

const labelType = (id:string) =>{
  const data = parameters.typeList.find(d => d.id == id)
  if (data){
    return data.name
  }
}

const orderType = (id:string) =>{
  const data = parameters.typeList.find(d => d.id == id)
  if (data){
    return data.order
  } else {
    return 0
  }
}

</script>