<template>
  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-3">
        <Sidebar />
      </div>
      <div class="column">
        <Map />
      </div>
    </div>
    <Footer />
  </div>
</template>

<script setup lang="ts">
import Map from './components/Map.vue'
import Sidebar from './components/Sidebar.vue'
import Footer from './components/Footer.vue'
</script>