@import "./variables";
@import 'maplibre-gl/dist/maplibre-gl.css';
@import '@oruga-ui/theme-bulma/src/assets/scss/bulma-build.scss';

@font-face {
  font-family: "TradeGothicLTStd";
  font-display: auto;
  src: local("TradeGothicLTStd"),   url('./Trade-Gothic-LT-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "MyriadWebPro";
  font-display: auto;
  src: local("MyriadWebPro"),   url('./Myriad-Web-Pro.ttf') format("truetype");
}
.container.is-fluid{
  padding: 0;
}
.columns{
  margin:0;
}
.columns:not(:last-child){
  margin:0;
}
.column{
  padding:0;
}
//sidebar
.sidebar{
  .title{
    font-family: "TradeGothicLTStd", Arial;
    margin-left: 5px ;
    color: #363636 !important;
  }
  .controls{
    padding: 10px;
  }
  .control-label{
    font-family: "TradeGothicLTStd", Arial;
  }
}
@media (min-width: 900px){
  .sidebar{
    position: fixed;
    width: 25%;
    height: 100%;
    overflow-y: auto;
  }
}
//map
#map {
  width: 100%;
  height : 100vh;

}
.maplibregl-popup-content{
  font-family: "MyriadWebPro", Arial;
  font-size: 14px;
}

//graph
.graph {
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
//tableau
.tableau{
  position: relative;
}

//footer
.footer{
  height: 20vh;
  margin-top:-20vh;
  background-color: transparent;
  .container{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 0.3rem;
    max-width:900px !important;
  }
}